body {
    background: #333;
}

.App {
    padding: 1em 0;
    margin-top: 5em;
}

.disabled-row {
    background-color: dimgray;
}

.search-box {
    /* margin-bottom: 1em; */
    margin: auto;
    max-width: 58%;
}

.info-card {
    margin-bottom: 1em;
}

.prerequisite-tooltip-content {
    text-align: center;
}

.footer-container {
    margin-top: 10em;
    padding: 2em 0;
    text-align: center;
}

.main-title {
    text-align: center;
    vertical-align: middle;
    margin-top: 1em !important;
}
